html{
 font-family: 'Knewave', cursive;
font-family: 'Patrick Hand', cursive;
  font-weight: 200;
  letter-spacing: 0.09em;
}

p{
   line-height: 1.5em;
  text-transform: capitalize;
}
a{
  color: #fff;
  text-decoration: none;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.menu li{
  font-size: 1rem;
}
.buttons{
  margin: 10px auto;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
max-width: 520px;
}
.buttons a {
  background: #f12d2d;
  padding: 0.5rem 2.4rem;
  font-size: .8rem;
  margin: 0.3rem;
  color: white;
  text-decoration: none;
  flex-grow: 1;
  text-align: center;
  width: 30%;
}
.specials-box p{
  color: #fff;
  padding: 0.3rem 1rem;
  margin: 0;
  font-size: 0.8rem;
}
.specials-box{
  background: url("../image/box-bg.png");
  max-height: 82vh;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
  text-align: center;
}
.specials-box h2{
  font-family: 'Knewave', cursive;
text-transform: uppercase;
color: #fff;
margin: 0;
font-size: 2rem;
text-align: center;

}
.hold::after{
  font-family: FontAwesome;
      content: "\f078";
      display: block;
      /* background: red; */
      position: absolute;
      bottom: 78px;
      font-size: 1.5rem;
      color: #fff;
      z-index: 5;
}
.specials-box h3{
   font-family: 'Knewave', cursive;
   color: #f68a1e;
   margin: 0;
   font-size: 1.2rem;
}

.sub-menu img{
  vertical-align: middle;
  width: 30px;
}

@media (min-width: 425px){
.specials-box h2{
  font-size: 5rem;
  }
}
@media (min-width: 768px){
.specials-box h2{
  font-size: 7rem;
  }
  .sub-menu img{
    vertical-align: middle;
    width: 50px;
  }
}
@media (min-width: 425px) and (min-height: 768px){
  .menu li{
    font-size: 1.5rem;
  }
  .buttons{
    flex-direction: row;
  }
  .buttons a{
    width: 20%;
  }
  .specials-box{
    padding: 1rem;
  }
  .specials-box h2{
    font-size: 5rem;
  }
}
@media (min-width: 768px) and (min-height: 768px){
  .buttons{
    flex-direction: row;
  }
  .buttons a{
    width: 30%;
      font-size: 0.9rem;
  }
  .menu li{
    font-size: 2.5rem;
  }
.specials-box h2{
    font-size: 8rem;
  }
  .specials-box h3{
    font-size: 1.5rem;
  }
  .specials-box p{
    font-size: 1rem;
    padding: 1rem 8rem;
  }
}
@media (min-width: 1024px) and (min-height: 768px){
  .menu li{
    font-size: 2rem;
  }
.specials-box h2{
    font-size: 7rem;
    margin-bottom: 1rem;
  }
  .specials-box h3{
      margin-top: 1rem;
      font-size: 1.5rem;
    }
    .specials-box p{
          padding: 0.5rem 7rem;
          font-size: 1rem;
    }
    .buttons{
      padding: 0rem 3.6rem;
      }
      .buttons a{
        padding: 0.3rem 2.4rem;
      }
}
@media (min-width: 1440px) and (min-height: 768px){
.buttons{
  padding: 0rem 6rem;
  }
}


/* typography
--------------------*/

.social a{
  color: #f68a1e;
}
.top-bar{
  position: fixed;
  left: 0;
  right: 0;
}
header{
  position: relative;
  background: url("../image/home-bg.png");
  min-height: 100vh;
  overflow: hidden;
}
.top-bar,
.bottom-bar{
  background: url("https://image.ibb.co/mdnYxv/top_bar.png");
  background-size: cover;
  background-position: 50%;
  padding: 1em 0;
  z-index: 3;
}
.bottom-bar{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.logo,
.social{
  display: none;
}
.menu li{
   font-family: 'Knewave', cursive;
   color: #fff;
}
.menu li:nth-last-of-type(4){
  display: none;
}
.menu,
.sub-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-menu{
  font-family: 'Patrick Hand', cursive;
}

.container{
  width: 90%;
  margin: auto;
}
.sub-menu-text{
  display: none;
}

.home-logo{
    padding-bottom: 5rem;
      width: 660px;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hold{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 96vh;
}
.box::after{
  font-family: FontAwesome;
  content:"\f078";
  display: block;
  font-size: 4rem;
  color: #fff;
  text-align: center;
}

/*
specials
--------------------*/

.star{
  display: none;
}


.buttons{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  text-transform: uppercase;
}


@media screen and (min-width: 1024px) and (min-height: 768px){
  .home-logo{
    padding-bottom: 1rem;
    width: 620px;
    }
    .star{
      display: flex;
      position: absolute;
      left: -198px;
      top: 50px;
      height:100vh;
      z-index: 2;
    }
    .specials-box{
      position: absolute;
          right: 43px;
          top: 163px;
          z-index: 3;
padding: 2.3rem 0rem;
          width: 57%;
      box-shadow: 0px 3px 40px rgba(0, 0, 0, 0.6);
    }

    .hold{
  width: 1045px;
margin: auto;
    }
    .sub-menu{
      flex: 1;
    }
    .sub-menu img{
      width: 60px;
      margin-right: 1rem;
    }
    .sub-menu-text{
      display: flex;
      display: inline-block;
    }
  .menu li:nth-last-of-type(4){
    display: inline-block;
  }
  .container{
    width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
  .logo,
  .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo{
    flex: 0.4;
  }
  .social{
      flex: 0.2;
      margin-left: 3rem;
  }
  .menu{
    flex: 1;
  }
  @media screen and (min-width: 1400px) and (min-height: 768px){
    .hold{
  width: 1200px;
margin: auto;
    }
    .star{
      left: -242px;
      top: 45px;
      z-index: 2;
    }
    .specials-box{
      right: -29px;
top: 190px;
      }
}




/*
font-sizes
--------------------*/
